<div class="contactContainer">
  <mat-card>
    <mat-card-title>
      Contact Us
    </mat-card-title>
    <mat-form-field>
      <input matInput placeholder="Enter Your Name">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Enter Your Email">
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Enter Message"></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary" [routerLink]="['/welcome']">Submit</button>
  </mat-card>
</div>
